.unity-button {
    -unity-text-align: middle-left;
    -unity-font-style: bold;
    background-color: rgba(0, 119, 255, 0);
    align-self: center;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 25px;
    padding-left: 80px;
    flex-grow: 1;
}

.unity-button:hover {
    transition-duration: 0.2s;
    scale: 1.1 1.1;
    background-image: url("project://database/Assets/UI%20Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss?fileID=-4521532143779581420&guid=26e059c4f02b6f942a7714cc6ed2ab8f&type=3#arrow-right");
    -unity-background-image-tint-color: rgb(0, 0, 0);
    background-position-y: center;
    -unity-background-scale-mode: scale-to-fit;
    background-size: 100px 100%;
    background-position-x: left 0;
    translate: 5% 5%;
}

.unity-text-element {
    font-size: 100%;
    -unity-font-definition: url("project://database/Assets/UI/RockThornRegular-0WmjG.otf?fileID=12800000&guid=b2be72689baed7a4cadee9b887b46c29&type=3#RockThornRegular-0WmjG");
}

.whiteText {
    color: rgb(255, 255, 255);
}

.MainMenuButton {
    width: 50%;
}

.OptionHead {
    width: 90%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgb(111, 102, 55);
    border-right-color: rgb(111, 102, 55);
    border-top-color: rgb(111, 102, 55);
    border-bottom-color: rgb(111, 102, 55);
    align-self: center;
}

.OptionChild {
    width: 80%;
    align-self: center;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgb(248, 8, 8);
    border-right-color: rgb(248, 8, 8);
    border-top-color: rgb(248, 8, 8);
    border-bottom-color: rgb(248, 8, 8);
}

.unity-slider__input {
    flex-grow: 0;
    width: 40%;
}

.unity-slider__label {
    flex-grow: 1;
}
